
/***................. Login Page.............. ***/

.login-page {
    display: flex;
    width: 100vw; 
    height: 100vh;
}

.login-page aside {
  flex-basis: 66.666%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 30px; */
}


/* Image - seconde half of the screen */


.login-page aside {
  position: relative;
}

.login-page .overlay-two {
  inset: 0;
}


.login-page .overlay {
  position: absolute; 
  background: rgba(0, 94, 184, 0.5);
  backdrop-filter: sepia(100%) hue-rotate(150deg) blur(5px) brightness(80%);
  /* center overlay text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  
}

.login-page aside img {
  /* position: absolute; */
  display: block;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  /* z-index: 1; */
  transform: scaleX(-1);
  
}

.login-page aside section {
  align-self: flex-end;
  z-index: 100;
}

.login-page aside select {
    border: 0;
    outline: none;
    color: var(--text-color_accent);
    background-color: transparent;

}


.login-page section a,
.login-page section select {
    color: rgb(85, 179, 234);
}

.login-container {
  flex-basis: 33.33%;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
  align-items: center;
  justify-content: center;
}


.login-container > a,
.psw-reset-container > a {
  color: var(--text-color_accent) !important;
}


.login-container form div {
  padding-top: 5px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.login-header,
.psw-reset-header {
  text-align: center;
  width: 100%;
  color: var(--text-color_accent);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}



.psw-reset-header h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
} 



.login-header img,
.psw-reset-header img {
   /* width: 70%; */
   max-width: 15vw;
   min-width: 12vw;
}



.login-header h5,
.psw-reset-header h5 {
    font-size: 20px;
    font-weight: 500;
}


.login-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  
}

#login-form{
 align-self: center;
 /* max-width: 25vw ; */
}

.login-container h2 {
  padding-bottom: 1rem;
}


.login-container [type="text"] {
  margin-bottom: 0.25rem;
}


.login-container a {
  align-self: center;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.15s ease-in;
}
  
  

.login-container input::placeholder {
  color: #4d4d4d;
}


/* Actions effects */

.login-container a span:hover {
    color: var(--bg-btn_hover);
}


.login-container a:hover {
  text-decoration: underline;
 }


/*Alert-Box and its content style*/


.alert-box {
  /* Add common styles for the alert here */
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
  padding: 10px;
  border: 1px solid #c60000;
  border-radius: 4px;
  background-color: #fcf2f2;
  border-left: 3px solid #c60000;
  max-width: max-content;
  gap: 3rem;
  /* justify-content: center; */
  align-items: center;
  top: 23px; /* compansate the existing padding*/
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}


.success {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.alert-box span:last-child {
  margin-left: auto;
  cursor: pointer;
  transition: .15s linear;
}


.alert-box span:first-child {
  margin-right: auto;
}

.alert-box span:last-child:hover {
  font-weight: 600;
}

/* ............................Psw Reset Page ............................*/

.psw-reset-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
    


.psw-reset-container article h2,
.login-container h2 {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color_p);
}

.psw-reset-container form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* gap: 1rem; */
}


.psw-reset-container article p {
  color: var(--text-color_p);
  width: fit-content;
  font-size: 16px;
}

.psw-reset-container article h2 {
  padding-bottom:  0 !important;
}
/* MFA page */

.psw-reset-container form>div {
  display: flex;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  
}


.form-check-input {
  position: relative;
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #adb5bd;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}



.form-check-input:checked {
  background-color: var(--bg-chkbox);
  border: 2px solid var(--border-chkbox);
}

.form-check-input:focus {
  /* Add focus styles */
  box-shadow: var(--border-chkbox-focus_style); 
}


.form-check-label {
  cursor: pointer;
}


/* Hide the default checkbox tick */
.form-check-input:checked::after {
  content: "\2713";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  color: #fff; 
  font-size: 10px; 
  line-height: 1; 
  text-align: center; 
  font-weight: 700;
}



.center span {
  color: var(--text-color_accent);
  
}


.disabled {
  pointer-events: none;
}