.email-page {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  width: 97%;
}

.email-page input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.email-page input:focus {
  box-shadow: none;
}

.email-page button {
  border: 0;
  background-color: transparent;
  font-size: medium;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color_primary);
  white-space: nowrap;
}

.email-page > article img {
  width: 100%;
  object-fit: cover;
}

.email-page > aside > section:first-child img {
  width: 30px;
}

.email-page > aside > section:first-of-type {
  background-color: rgba(239, 239, 239, 0.699);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}




/* Selector styles............................................................. */

.select {
  display: flex;
  width: 100%;
  max-width: max-content;
  align-items: center;
  position: relative;
  cursor: pointer;
  align-items: center;
}

.email-page .maxWidth22 {
  width: 100%;
  position: relative;
  max-width: max-content;
}

.email-page .maxWidth22 select {
  font-size: 26px;
  width: 19ch;
}

.select {
  margin-right: auto;
  padding-left: 0.5rem;
}



.select select {
  width: 100%;
  width: 18ch;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  padding-left: 8px;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: var(--text-color_p);
  z-index: 1;
  font-family: inherit;
}

.special select {
  min-width: 15ch !important;
}

.select select > * {
  background: white;
  color: gray;
  font-family: 18px;
  font-size: inherit;
  border: var(--border-color);
  padding: 8px;
}


.email-page .select span {
    right: 0.01rem;
}

.select span {
  position: absolute;
  font-weight: 300;
  opacity: 1;
  right: 1rem;
  cursor: pointer;
}

.select span {
  font-size: 36px !important;
  color: var(--text-color_p) !important;
}

.select select option {
  font-size: 20px;
}


/* dropdown */

.dropbtn {
  cursor: pointer;
}

.email-page header .dropdown-content,
.dropdown-content {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.1);
  width: 10vw;
  right: 1rem;
  background-color: white;
  z-index: 100;
}

.dropdown-content {
  top: 22%;
}

.email-page > header .dropdown-content > *,
.dropdown-content > * {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--text-color_buttons);
}
.email-page > header .dropdown-content > *:hover,
.dropdown-content > *:hover {
  color: var(--text-color_accent);
  background-color: var(--bg-link_hover);
}

.email-page > header .dropdown-content > *:not(a:last-of-type),
.dropdown-content > *:not(a:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}
